@font-face {
    font-family: 'museo_sans_100regular';
    src: url('../fonts/museosans_100-webfont.eot');
    src: url('../fonts/museosans_100-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/museosans_100-webfont.woff') format('woff'),
         url('../fonts/museosans_100-webfont.ttf') format('truetype'),
         url('../fonts/museosans_100-webfont.svg#museo_sans_100regular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'museo_sans_300regular';
    src: url('../fonts/museosans_300-webfont.eot');
    src: url('../fonts/museosans_300-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/museosans_300-webfont.woff') format('woff'),
         url('../fonts/museosans_300-webfont.ttf') format('truetype'),
         url('../fonts/museosans_300-webfont.svg#museo_sans_300regular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'museo_sans_500regular';
    src: url('../fonts/museosans_500-webfont.eot');
    src: url('../fonts/museosans_500-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/museosans_500-webfont.woff') format('woff'),
         url('../fonts/museosans_500-webfont.ttf') format('truetype'),
         url('../fonts/museosans_500-webfont.svg#museo_sans_500regular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'museo_sans_700regular';
    src: url('../fonts/museosans_700-webfont.eot');
    src: url('../fonts/museosans_700-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/museosans_700-webfont.woff') format('woff'),
         url('../fonts/museosans_700-webfont.ttf') format('truetype'),
         url('../fonts/museosans_700-webfont.svg#museo_sans_700regular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'museo_sans_900regular';
    src: url('../fonts/museosans_900-webfont.eot');
    src: url('../fonts/museosans_900-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/museosans_900-webfont.woff') format('woff'),
         url('../fonts/museosans_900-webfont.ttf') format('truetype'),
         url('../fonts/museosans_900-webfont.svg#museo_sans_900regular') format('svg');
    font-weight: normal;
    font-style: normal;
}


/* Global block settings */
html {height: 100%;}
body {
    height: 100%;
    min-width: 768px;
    font-family: "museo_sans_300regular", helvetica, arial, sans-serif;
    font-size: 12px;
    line-height: 16px;
    color: #eaeaea;
}
/*|||||-----GLOBAL ELEMENTS-----\\\\\*/
a {display: block;text-decoration: none;color: #eaeaea;}
a:hover {}
button {margin: 0;padding: 0;border: none;}
.btn {background-repeat: no-repeat;background-size: 75%;background-position: 50% 50%;cursor: pointer;}

#globalWrap, .sectionWrap, .centerWrap {height: inherit;overflow: hidden;}
.centerWrap {position: relative;}
#hdr {
    width: 100%;
    height: 60px;
    background-color: #232323;
    position: absolute;
    top: 0;
    left: 0;
}
#settingsBtn {
    display: inline-block;
    float: left;
}
#settingsBtn button {
    width: 60px;
    height: 60px;
    background-image: url(../img/btnSettings.png);
    border-right: 1px solid #434343;
}

#locationWrap {
    display: inline-block;
    float: right;
}
#locationWrap button {
    width: 60px;
    height: 60px;
    float: left;
    background-image: url(../img/btnLocation.png);
    border-left: 1px solid #434343;
}
#locationWrap form {
    float: left;
    border-left: 1px solid #434343;
    /*min-width: 150px;
    height: 60px;
    float: left;
    border-left: 1px solid #434343;*/
}
#locationWrap form option {
    
}
#locationWrap #search {
    float: left;
}
#locationWrap #search input{   
    padding: 30px;            /* Overridden by padding: 1px; */
    font-family: Georgia;     /* Overridden by font: -webkit-small-control; */
    border: 5px solid black;  /* Overridden by border: 2px inset; */
    background: red;          /* Overridden by background-color: white; */
    line-height: 3;           /* Irrelevant, I guess */
}




#sec {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    height: -webkit-calc(100% - 60px);
    height: -moz-calc(100% - 60px);
    height: -o-calc(100% - 60px);
    height: calc(100% - 60px);
    margin-top: 60px;
}

#scrollBox {
    width: 20%;
    min-width: 240px;
    height: 100%;
    background-color: #232323;
    float: left;
}
#scrollBox .contentWrap {
    border-top: 1px solid #434343;
}
#googleMap {
    height: 100%;
    background-color: #285258;
    float: left;
}

/*|||||-----SIZING #googleMap FOR LARGER SCREENS -----\\\\\*/
@media only screen and (max-width : 1199px) {
    #googleMap {
        min-width: -webkit-calc(100% - 240px);
        min-width: -moz-calc(100% - 240px);
        min-width: -o-calc(100% - 240px);
        min-width: calc(100% - 240px);
    }
}
@media only screen and (min-width : 1200px) {
    #googleMap {
        width: 80%;
    }
}

/*|||||-----SCROLL FILTER-----\\\\\*/
#scrollFilterWrap  {
    height: 60px;
    border-top: 1px solid #434343;
    border-bottom: 1px solid #434343;
}
#scrollFilter {
    display: block;
    width: 243px;
    margin: 0 auto;
}
#scrollFilter > li {
    width: 60px;
    float: left;
    text-align: center;
}
#scrollFilter > li:nth-child(1){background-color: #333;}
#scrollFilter > li:nth-child(2){background-color: #444;}
#scrollFilter > li:nth-child(3){background-color: #555;}
#scrollFilter > li:nth-child(4){background-color: #666;}
#scrollFilter > li a {
    width: 100%;
    line-height: 60px;
}
#scrollFilter > li a:hover {background-color: #232323;}
#scrollFilter > li:nth-child(1) a {background-image: url(../img/btnFilterGear.png);}
#scrollFilter > li:nth-child(2) a {background-image: url(../img/btnFilterLike.png);}
#scrollFilter > li:nth-child(3) a {background-image: url(../img/btnFilterLock.png);}
#scrollFilter > li:nth-child(4) a  {background-image: url(../img/btnFilterStar.png);}

/*|||||-----SCROLL LIST-----\\\\\*/
#scrollBox .scrollBar {
    height: -webkit-calc(100% - 62px);
    height: -moz-calc(100% - 62px);
    height: -o-calc(100% - 62px);
    height: calc(100% - 62px);
    overflow: auto;
}
#scrollBox #scrollList {

}


#scrollBox #scrollList > li {
    width: 100%;
    overflow: hidden;
    border-bottom: 1px solid #434343;

    background-color: #232323;
    -webkit-transition: all 250ms ease;
    -moz-transition: all 250ms ease;
    -o-transition: all 250ms ease;
    transition: all 250ms ease;
}

#scrollBox #scrollList > li:hover,
#scrollBox #scrollList > li.postOpen {background-color: #333333;}

.scrollListPost {display: block;}

.scrollListPost .scrollListHdr {padding: 0 10px 0 0;}
.scrollListPost .scrollListHdr h1 {
    width: 40px;
    height: 40px;
    background-image: url(../img/btnUser.png);
    background-color: #eaeaea;
    float: left;
    margin-right: 5px;
}
.scrollListPost .scrollListHdr p {line-height: 20px;margin-left: 45px;}

.scrollListPost .scrollListSec {padding: 0 10px;}
.scrollListPost .scrollListSec > div {margin: 10px 0;}

.scrollListPost .scrollListSlides  {height: 40px;margin: 0 auto !important}
.scrollListPost .scrollListSlides .scrollWrap {overflow: hidden;}
.scrollListPost .scrollListSlides ul {padding: 0 40px;}
.scrollListPost .scrollListSlides ul li {margin: 0 5px;}
.scrollListPost .scrollListSlides ul li img {width: 40px;height: 40px;}
.scrollListPost .scrollListSlides button {position: absolute;bottom: 0;width: 40px;height: 40px;background-color: transparent;color: #4a4a4a;}
.scrollListPost .scrollListSlides button.prev {left: -40px;z-index: 100;background-image: url(../img/btnScrollLeft.png);}
.scrollListPost .scrollListSlides button.next {right: -40px;z-index: 100;background-image: url(../img/btnScrollRight.png);}







#profileNav {
	height: 60px;
    float: right;
}
#profileNav .groundFloor {
	display: block;
	float: right;
	width: 60px;
	height: 60px;
}
#profileNav .groundFloor > li {position: relative;}

#profileNav #profileUser {
    width: 60px;
    height: 60px;
    background-image: url(../img/user-matthew-higley.jpg);
    background-position: 50% 50%;
    background-size: 100% !important;
}

#profileNav .firstLevel {
    width: 180px;
    height: auto;
    /*background: rgba(35, 35, 35, 0.8);*/
    background-color: #323232;
	position: absolute;
	bottom: -200%;
	right: 0;
    z-index: 50;
	opacity: 0;
	visibility: hidden;

	-webkit-transition: opacity 250ms ease;
    -moz-transition: opacity 250ms ease;
    -o-transition: opacity 250ms ease;
    transition: opacity 250ms ease;
}
#profileNav .firstLevel > li {
	width: 180px;
	height: auto;
}

#profileNav .groundFloor > li:hover .firstLevel {
	opacity: 1;
	visibility: visible;
}
#profileNav .firstLevel li a {
	line-height: 30px;
	padding: 5px 20px;
	text-align: right;
	/*background-color: #434343;*/
}
#profileNav .firstLevel li a:hover {
	background-color: #aeaeae;
	color: #4a4a4a;
}


#logo h1 {
    float: left;
    line-height: 60px;
    font-family: 'museo_sans_300regular';
    font-size: 20px;
    margin: 0 10px;
}





#landing #globalWrap {
    height: 100%;
    background-image: url(../img/landingBg.jpg);
    background-repeat: repeat;
}
#landing h1 {
    line-height: 50px;
    text-align: center;
    font-size: 30px;
    color: #c93115;
    text-transform: uppercase;
    font-weight: bold;
}
#landing h1 .stars img {
    width: 30px;
    margin: 10px;
}
#landing h1 .stars:first-child {
    float: left;
    margin-left: 30px;
}
#landing h1 .stars:last-child {
    float: right;
    margin-right: 30px;
}
#landing .sectionWrap {
    position: relative;
    height: 100%;
    background: url(../img/landingStarburst.png) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    overflow: hidden;
}
#landing .sectionWrap h2 {
    position: absolute;
    right: 5%;
    top: 15%;
    width: 552px;
    height: 263px;
    background-image: url(../img/landingTag.png);
    z-index: 2;
}
#landing .sectionWrap #logo {
    position: absolute;
    left: -3%;
    bottom: -57px;
    z-index: 1;
}













