@font-face {
    font-family: 'OpenSans-Light';
    src: url('../fonts/OpenSans-Light-webfont.eot');
    src: url('../fonts/OpenSans-Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/OpenSans-Light-webfont.woff') format('woff'),
         url('../fonts/OpenSans-Light-webfont.ttf') format('truetype'),
         url('../fonts/OpenSans-Light-webfont.svg#OpenSans-Light') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'OpenSans-LightItalic';
    src: url('../fonts/OpenSans-LightItalic-webfont.eot');
    src: url('../fonts/OpenSans-LightItalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/OpenSans-LightItalic-webfont.woff') format('woff'),
         url('../fonts/OpenSans-LightItalic-webfont.ttf') format('truetype'),
         url('../fonts/OpenSans-LightItalic-webfont.svg#OpenSans-LightItalic') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'OpenSans-Regular';
    src: url('../fonts/OpenSans-Regular-webfont.eot');
    src: url('../fonts/OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/OpenSans-Regular-webfont.woff') format('woff'),
         url('../fonts/OpenSans-Regular-webfont.ttf') format('truetype'),
         url('../fonts/OpenSans-Regular-webfont.svg#OpenSans-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'OpenSans-Italic';
    src: url('../fonts/OpenSans-Italic-webfont.eot');
    src: url('../fonts/OpenSans-Italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/OpenSans-Italic-webfont.woff') format('woff'),
         url('../fonts/OpenSans-Italic-webfont.ttf') format('truetype'),
         url('../fonts/OpenSans-Italic-webfont.svg#OpenSans-Italic') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'OpenSans-Semibold';
    src: url('../fonts/OpenSans-Semibold-webfont.eot');
    src: url('../fonts/OpenSans-Semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/OpenSans-Semibold-webfont.woff') format('woff'),
         url('../fonts/OpenSans-Semibold-webfont.ttf') format('truetype'),
         url('../fonts/OpenSans-Semibold-webfont.svg#OpenSans-Semibold') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'OpenSans-SemiboldItalic';
    src: url('../fonts/OpenSans-SemiboldItalic-webfont.eot');
    src: url('../fonts/OpenSans-SemiboldItalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/OpenSans-SemiboldItalic-webfont.woff') format('woff'),
         url('../fonts/OpenSans-SemiboldItalic-webfont.ttf') format('truetype'),
         url('../fonts/OpenSans-SemiboldItalic-webfont.svg#OpenSansItalic-Semibold') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'OpenSans-Bold';
    src: url('../fonts/OpenSans-Bold-webfont.eot');
    src: url('../fonts/OpenSans-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/OpenSans-Bold-webfont.woff') format('woff'),
         url('../fonts/OpenSans-Bold-webfont.ttf') format('truetype'),
         url('../fonts/OpenSans-Bold-webfont.svg#OpenSans-Bold') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'OpenSans-BoldItalic';
    src: url('../fonts/OpenSans-BoldItalic-webfont.eot');
    src: url('../fonts/OpenSans-BoldItalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/OpenSans-BoldItalic-webfont.woff') format('woff'),
         url('../fonts/OpenSans-BoldItalic-webfont.ttf') format('truetype'),
         url('../fonts/OpenSans-BoldItalic-webfont.svg#OpenSans-BoldItalic') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'OpenSans-ExtraBold';
    src: url('../fonts/OpenSans-ExtraBold-webfont.eot');
    src: url('../fonts/OpenSans-ExtraBold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/OpenSans-ExtraBold-webfont.woff') format('woff'),
         url('../fonts/OpenSans-ExtraBold-webfont.ttf') format('truetype'),
         url('../fonts/OpenSans-ExtraBold-webfont.svg#OpenSans-ExtraBold') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'OpenSans-ExtraBoldItalic';
    src: url('../fonts/OpenSans-ExtraBoldItalic-webfont.eot');
    src: url('../fonts/OpenSans-ExtraBoldItalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/OpenSans-ExtraBoldItalic-webfont.woff') format('woff'),
         url('../fonts/OpenSans-ExtraBoldItalic-webfont.ttf') format('truetype'),
         url('../fonts/OpenSans-ExtraBoldItalic-webfont.svg#OpenSans-ExtraBoldItalic') format('svg');
    font-weight: normal;
    font-style: normal;
}
/*
@font-face {
    font-family: 'museo_sans_100regular';
    src: url('../fonts/museosans_100-webfont.eot');
    src: url('../fonts/museosans_100-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/museosans_100-webfont.woff') format('woff'),
         url('../fonts/museosans_100-webfont.ttf') format('truetype'),
         url('../fonts/museosans_100-webfont.svg#museo_sans_100regular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'museo_sans_300regular';
    src: url('../fonts/museosans_300-webfont.eot');
    src: url('../fonts/museosans_300-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/museosans_300-webfont.woff') format('woff'),
         url('../fonts/museosans_300-webfont.ttf') format('truetype'),
         url('../fonts/museosans_300-webfont.svg#museo_sans_300regular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'museo_sans_500regular';
    src: url('../fonts/museosans_500-webfont.eot');
    src: url('../fonts/museosans_500-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/museosans_500-webfont.woff') format('woff'),
         url('../fonts/museosans_500-webfont.ttf') format('truetype'),
         url('../fonts/museosans_500-webfont.svg#museo_sans_500regular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'museo_sans_700regular';
    src: url('../fonts/museosans_700-webfont.eot');
    src: url('../fonts/museosans_700-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/museosans_700-webfont.woff') format('woff'),
         url('../fonts/museosans_700-webfont.ttf') format('truetype'),
         url('../fonts/museosans_700-webfont.svg#museo_sans_700regular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'museo_sans_900regular';
    src: url('../fonts/museosans_900-webfont.eot');
    src: url('../fonts/museosans_900-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/museosans_900-webfont.woff') format('woff'),
         url('../fonts/museosans_900-webfont.ttf') format('truetype'),
         url('../fonts/museosans_900-webfont.svg#museo_sans_900regular') format('svg');
    font-weight: normal;
    font-style: normal;
}*/


/* Global block settings */
html {height: 100%;}
body {
    height: 100%;
    min-width: 768px;
    font-family: "OpenSans-Regular", helvetica, arial, sans-serif;
    font-size: 12px;
    line-height: 16px;
    color: #eaeaea;
}
/*|||||-----GLOBAL ELEMENTS-----\\\\\*/
a {display: block;text-decoration: none;color: #eaeaea;}
a:hover {}
button {margin: 0;padding: 0;border: none; font-size: 12px;}
.btn {background-repeat: no-repeat;background-size: 75%;background-position: 50% 50%;cursor: pointer;}

#globalWrap, .sectionWrap, .centerWrap {height: inherit;overflow: hidden;}
.centerWrap {position: relative;}

/*|||||-----OVERLAY-----\\\\\*/
#overlay {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    position: absolute;
    z-index: 9999;
    display: none;
    /*opacity: 0;*/
    /*visibility: hidden;*/
}
#overlayCanvas {
    width: 80%;
    height: 80%;
    background-color: #eaeaea;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 1);
    margin: 0 auto;
    position: relative;
    top: 10%;
    color: #4a4a4a !important;
    overflow: auto;
}
#ocHdr {
    height: 60px;
}
#ocHdr h1 {
    display: inline-block;
    width: 80%;
    height: 60px;
    font-size: 38px;
    line-height: 60px;
    padding-left: 10px;
    float: left;
    color: #9f9f9f;
}
#ocHdr button {
    display: block;
    float: right;
    width: 60px;
    height: 60px;
    text-align: center;
    background-image: url(../img/btnClose.png);
}
#ocHdr button:hover {background-image: url(../img/btnClose-hover.png);background-color: #dedede;}
#ocSec .pad {
    padding: 20px;
}
#ocSec .scroller {

}

#ocForm {
    width: 66%;
    float: left;
}
#imageUpload {
    width: 33%;
    float: left;
}
#imageUpload #dropbox {
    width: 100%;
    height: 200px;
    background-color: #dddddd;
}
#ocFirstName, #ocCity, #ocState {
    float: left;
}



#hdr {
    width: 100%;
    height: 60px;
    background-color: #232323;
    position: absolute;
    top: 0;
    left: 0;
}
#settingsBtn {
    display: inline-block;
    float: left;
}
#settingsBtn button {
    width: 60px;
    height: 60px;
    background-image: url(../img/btnSettings.png);
    border-right: 1px solid #434343;
}

#logo h1 {
    float: left;
    line-height: 60px;
    font-family: 'OpenSans-Regular';
    font-size: 20px;
    margin: 0 18px;
}

/*|||||-----LOGO DISPLAY:NONE; FOR SMALLER SCREENS -----\\\\\*/
@media only screen and (max-width : 941px) {
    #logo {
        display: none;
        /*float: left;*/
    }
}
@media only screen and (min-width : 942px) {
    #logo {
        float: left;   
    }
}

#postNew button {
    min-width: 120px;
    height: 60px;
    line-height: 60px;
    padding: 0 0 0 10px;
    color: #eaeaea;
    float: left;
    background-color: #1f7f5c;
    cursor: pointer;
}
#postNew button span {
    width: 60px;
    height: 60px;
    background-image: url(../img/btnPostNew.png);
    float: right;
}

#locationUtil {
    display: inline-block;
    float: right;
}
#quickSearch, #locationBtn, #rangeSelect {float: left;}

#quickSearch input {
    border-top: 5px solid #487b86;
    border-right: none;
    border-bottom: 5px solid #487b86;
    border-left: 5px solid #487b86;
    width: 200px;
    height: 40px;
    padding: 5px;
    float: left;
    border-radius: 0px;
}
#quickSearch a {
    width: 60px;
    height: 60px;
    display: inline-block;
    background-image: url(../img/btnSearch.png);
    background-color: #487b86;
}
#locationBtn button {
    width: 60px;
    height: 60px;
    float: left;
    background-image: url(../img/btnLocation.png);
}
#locationBtn button:hover {background-image: url(../img/btnLocation_hover.png);}
#locationBtn button.active {background-image: url(../img/btnLocation_on.png);}
#rangeSelect {display: none;}
#rangeSelect form {border-left: 1px solid #434343;width: 150px;padding: 0 10px;}




#sec, #ocSec {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    height: -webkit-calc(100% - 60px);
    height: -moz-calc(100% - 60px);
    height: -o-calc(100% - 60px);
    height: calc(100% - 60px);
    margin-top: 60px;
}

#scrollBox {
    width: 20%;
    min-width: 240px;
    height: 100%;
    background-color: #232323;
    float: left;
}
#scrollBox .contentWrap {
    border-top: 1px solid #434343;
}
#googleMap {
    height: 100%;
    background-color: #285258;
    float: left;
}

/*|||||-----SIZING #googleMap FOR LARGER SCREENS -----\\\\\*/
@media only screen and (max-width : 1199px) {
    #googleMap {
        min-width: -webkit-calc(100% - 240px);
        min-width: -moz-calc(100% - 240px);
        min-width: -o-calc(100% - 240px);
        min-width: calc(100% - 240px);
    }
}
@media only screen and (min-width : 1200px) {
    #googleMap {
        width: 80%;
    }
}

/*|||||-----SCROLL FILTER-----\\\\\*/
#scrollFilterWrap  {
    height: 60px;
    /*border-top: 1px solid #434343;*/
    /*border-bottom: 1px solid #434343;*/
}
#scrollFilter {
    display: block;
    width: 243px;
    margin: 0 auto;
}
#scrollFilter > li {
    width: 60px;
    float: left;
    text-align: center;
}
#scrollFilter > li:nth-child(1){background-color: #333;}
#scrollFilter > li:nth-child(2){background-color: #444;}
#scrollFilter > li:nth-child(3){background-color: #555;}
#scrollFilter > li:nth-child(4){background-color: #666;}
#scrollFilter > li a {
    width: 100%;
    line-height: 60px;
}
#scrollFilter > li a:hover {background-color: #232323;}
#scrollFilter > li:nth-child(1) a {background-image: url(../img/btnFilterGear.png);}
#scrollFilter > li:nth-child(2) a {background-image: url(../img/btnFilterLike.png);}
#scrollFilter > li:nth-child(3) a {background-image: url(../img/btnFilterLock.png);}
#scrollFilter > li:nth-child(4) a  {background-image: url(../img/btnFilterStar.png);}

/*|||||-----SCROLL LIST-----\\\\\*/
#scrollBox .scrollBar {
    height: -webkit-calc(100% - 62px);
    height: -moz-calc(100% - 62px);
    height: -o-calc(100% - 62px);
    height: calc(100% - 62px);
    overflow: auto;
}
#scrollBox #scrollList {

}


#scrollBox #scrollList > li {
    width: 100%;
    overflow: hidden;
    border-bottom: 1px solid #434343;
    background-color: #232323;
}

#scrollBox #scrollList > li:hover,
#scrollBox #scrollList > li.postOpen {background-color: #4a4a4a;}

.scrollListPost {display: block;}

.scrollListPost .scrollListHdr {padding: 0 10px 0 0;}
.scrollListPost .scrollListHdr h1 {
    width: 40px;
    height: 40px;
    background-image: url(../img/btnUser.png);
    background-color: #eaeaea;
    float: left;
    margin-right: 5px;
}
.scrollListPost .scrollListHdr p {line-height: 20px;margin-left: 45px;}

.scrollListPost .scrollListSec {padding: 0 10px;}
.scrollListPost .scrollListSec > div {margin: 10px 0;}

.scrollListPost .scrollListSlides  {height: 40px;margin: 0 auto !important}
.scrollListPost .scrollListSlides .scrollWrap {overflow: hidden;}
.scrollListPost .scrollListSlides ul {padding: 0 40px;}
.scrollListPost .scrollListSlides ul li {margin: 0 5px;}
.scrollListPost .scrollListSlides ul li img {width: 40px;height: 40px;}
.scrollListPost .scrollListSlides button {position: absolute;bottom: 0;width: 40px;height: 40px;background-color: transparent;color: #4a4a4a;}
.scrollListPost .scrollListSlides button.prev {left: -40px;z-index: 100;background-image: url(../img/btnScrollLeft.png);}
.scrollListPost .scrollListSlides button.next {right: -40px;z-index: 100;background-image: url(../img/btnScrollRight.png);}







#profileNav {
	height: 60px;
    float: right;
}
#profileNav .groundFloor {
	display: block;
	float: right;
	width: 60px;
	height: 60px;
}
#profileNav .groundFloor > li {position: relative;}

#profileNav #profileUser {
    width: 60px;
    height: 60px;
    background-image: url(../img/user-matthew-higley.jpg);
    background-position: 50% 50%;
    background-size: 100% !important;
}

#profileNav .firstLevel {
    width: 180px;
    height: auto;
    /*background: rgba(35, 35, 35, 0.8);*/
    background-color: #232323;
	position: absolute;
	bottom: -200%;
	right: 0;
    z-index: 50;
	opacity: 0;
	visibility: hidden;
}
#profileNav .firstLevel > li {
	width: 180px;
	height: auto;
}

#profileNav .groundFloor > li:hover .firstLevel {
	opacity: 1;
	visibility: visible;
}
#profileNav .firstLevel li a {
	line-height: 30px;
	padding: 5px 20px;
	text-align: right;
}
#profileNav .firstLevel li a:hover {background-color: #4a4a4a;}





#landing {height: auto;}
#landing #globalWrap, #landing .sectionWrap, #landing .centerWrap {height: inherit;overflow: visible;}


#landing .sectionWrap:first-child {width: 100%;background-color: #e56c69;}
#landing .sectionWrap:last-child {width: 100%;background-color: #ffffff;}
#landing .centerWrap {width: 800px;height: 400px;margin: 0 auto;}


#landing #lHdr h1 {font-size: 28px;line-height: 32px;}

#landing #lSec blockquote {
    position: absolute;
    top: 60px;
    left: 0;
    font-family: 'OpenSans-Italic';
    font-size: 18px;
    line-height: 24px;
    width: 380px;
}

#landing #lSec h2 {position: absolute;bottom: -35px;}
#landing #lSec h2 #join {font-family: 'OpenSans-Bold';font-size: 75px;line-height: 60x;}
#landing #lSec h2 #the {font-family: 'OpenSans-SemiBold';font-size: 45px;}
#landing #lSec h2 #yardsale {font-family: 'OpenSans-Bold';font-size: 75px;line-height: 60px;}
#landing #lSec h2 #revolution {font-family: 'OpenSans-ExtraBold';font-size: 90px;text-transform: uppercase;line-height: 75px;color: #e56c69;}
#landing #lSec {position: relative;height: inherit;}
#tryMe {
    width: 262px;
    height: 115px;
    background-image: url(../img/tryMe.png);
    display: inline-block;
    background-size: 60%;
    background-position: bottom right;
    position: absolute;
    left: 15%;
    display: none;
}
#mockImac, #mockMacpro, #mockIpad, #mockIphone {display: inline-block;position: absolute;left: 49%;bottom: 20px;}
.mockScreen {background-color: #2a2a2a;}

#mockImac {
    width: 419px;
    height: 341px;
    background-image: url(../img/mockImac_full.png);
    background-repeat: no-repeat;
    background-size: 200%;
    background-position: 1px 0;}
#mockImac:hover {
    background-position: -419px 0;}
#mockImac .mockScreen {width: 370px;height: 195px;margin: 24px 26px;}

/* Mock MacBook Pro / iPad / iPhone
#mockMacpro {width: 300px;height: 155px;background-image: url(../img/mockMacpro.png);background-repeat: no-repeat;background-size: 100%;margin-left: -53%;z-index: 110;display: none;}
#mockMacpro .mockScreen {width: 224px;height: 120px;margin: 10px 38px;}
#mockIpad {width: 170px;height: 111px;background-image: url(../img/mockIpadH.png);background-repeat: no-repeat;background-size: 100%;margin-left: -22%;z-index: 120;display: none;}
#mockIpad .mockScreen {width: 130px;height: 97px;margin: 6px 21px;}
#mockIphone {width: 110px;height: 56px;background-image: url(../img/mockIphoneH.png);background-repeat: no-repeat;background-size: 100%;margin-left: 40%;opacity: 0.5;z-index: 130;display: none;}
#mockIphone .mockScreen {width: 85px;height: 48px;margin: 4px 12px;}
#mockMacpro .mockScreen {background-image: url(../img/mockAppScreen.png);background-position: 0 0;background-repeat: no-repeat;background-size: 100%;}
#mockIpad .mockScreen, #mockIphone .mockScreen {background-image: url(../img/mockAppMobile.png);background-position: 0 0;background-repeat: no-repeat;background-size: 100%;}
*/

.miniBrowser {
    height: inherit;
    font-size: 80%;
    line-height: 7px;
    position: relative;
}
#miniOverlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
}
#miniOverlay #miniOC {
    width: 40%;
    height: 25%;
    margin: 15% auto;
    background-color: #eaeaea;
    padding: 10px 0;
    box-shadow: 0px 0px 1px 5px #000000;
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.5);
    position: relative;
}
#miniOC #miniOClose {
    width: 18px;
    height: 18px;
    display: inline-block;
    position: absolute;
    top: 0;
    right: 0;
    background-image: url(../img/btnClose.png);
    background-size: 100%;
}
#miniOC h1 {
    width: 100%;
    text-align: center;
    line-height: 14px;
    color: #4a4a4a;
}
#miniOC h1 span {
    font-family: 'OpenSans-Bold';
}
.miniHdr {
    width: 100%;
    height: 18px;
    background-color: #333333;
}
.miniHdr h1 {
    line-height: 18px;
    float: left;
    margin-right: 5px;
}
.miniList {
    height: inherit;
    font-size: 50%;
    width: 20%;
    float: left;
}

.miniMap {
    width: 80%;
    height: 177px;
    float: left;
    background-image: url(../img/mockMap.png);
    background-position: -56px -15px;
    background-repeat: no-repeat;
    background-size: 119%;
}
#map-canvas {
    width: 100%;
    height: inherit;
}

.miniHdr #miniBtn {
    width: 18px;
    height: 18px;
    float: left;
    background-image: url(../img/btnSettings.png);
    background-repeat: no-repeat;
    background-size: 80%;
    background-position: 50% 50%;
    border-right: 1px solid #4a4a4a;
    margin-right: 5px;
}
.miniHdr #miniPost {
    width: auto;
    height: 18px;
    float: left;
    background-image: url(../img/btnPostNew.png);
    background-repeat: no-repeat;
    background-size: 52%;
    background-position: right 50%;
    line-height: 18px;
    padding: 0 15px 0 5px;
    background-color: #1f7f5c;
    font-size: 80%;
    cursor: pointer;
}
.miniHdr img {
    width: 18px;
    height: 18px;
    float: right;
}
.miniHdr #miniGps {
    width: 18px;
    height: 18px;
    float: right;
    background-image: url(../img/btnLocation_on.png);
    background-repeat: no-repeat;
    background-size: 80%;
    background-position: 50% 50%;
}
.miniHdr #miniSearch {float: right;}

.miniHdr #miniSearch input {
    border-top: 2px solid #487b86;
    border-right: none;
    border-bottom: 2px solid #487b86;
    border-left: 2px solid #487b86;
    width: 60px;
    height: 12px;
    padding: 1px;
    float: left;
    border-radius: 0px;
    font-size: 80%;
}
.miniHdr #miniSearch a {
    width: 18px;
    height: 18px;
    display: inline-block;
    background-image: url(../img/btnSearch.png);
    background-color: #487b86;
}

#mockScroll { position:relative; margin:0px auto; padding:0px; width: 72px; height: 177px; overflow: hidden; }
#mockScroll #mockScrollContent { width: 72px; height: 174px; }

.miniList .btn {background-size: 100%;background-position: 50% 50%;}
.miniList > div > ul > li {width: 100%;overflow: hidden;border-bottom: 1px solid #434343;background-color: #333333;}
.miniList > div > ul > li:hover,
.miniList > div > ul > li.postOpen {background-color: #4a4a4a;}
.miniList .scrollListPost {display: block;}
.miniList .scrollListPost .scrollListHdr {padding: 0 10px 0 0;}
.miniList .scrollListPost .scrollListHdr h1 {width: 10px;height: 10px;background-image: url(../img/btnUser.png);background-color: #eaeaea;float: left;margin-right: 3px;}
.miniList .scrollListPost .scrollListHdr p {line-height: 7px;margin: 1px 0 0 13px;}
.miniList .scrollListPost .scrollListSec {padding: 0 5px;}
.miniList .scrollListPost .scrollListSec > div {margin: 10px 0;}
.miniList .scrollListPost .scrollListSlides  {height: 10px;margin: 0 auto !important}
.miniList .scrollListPost .scrollListSlides .scrollWrap {overflow: hidden;}
.miniList .scrollListPost .scrollListSlides ul {padding: 0 10px;}
.miniList .scrollListPost .scrollListSlides ul li {margin: 0 2px;}
.miniList .scrollListPost .scrollListSlides ul li img {width: 10px;height: 10px;}
.miniList .scrollListPost .scrollListSlides button {position: absolute;bottom: 0;width: 10px;height: 10px;background-color: transparent;color: #4a4a4a;}
.miniList .scrollListPost .scrollListSlides button.prev {left: -10px;z-index: 100;background-image: url(../img/btnScrollLeft.png);}
.miniList .scrollListPost .scrollListSlides button.next {right: -10px;z-index: 100;background-image: url(../img/btnScrollRight.png);}

#contentSec {
    padding: 150px 0 75px;
}
#formInfo {color: #666;font-size: 24px;text-align: center;}
form {
    width: 92%;
    margin: 20px auto;
    padding: 0 0 40px 0;
}
form #email {
    width: 99%;
    height: 35px;
    background-color: #eaeaea;
    border-radius: 4px;
    border-width: 1px;
    border-style: solid;
    border-top-color: #aeaeae;
    border-right-color: #cfcfcf;
    border-bottom-color: #dedede;
    border-left-color: #aeaeae;
    padding: 5px;
    font-size: 18px;
    color: #666666;
}
form #email:hover {
    box-shadow: 0 0 8px 2px rgba(0, 0, 0, 0.3);
}
form #emailLabel {
    font-size: 18px;
    color: #aeaeae;
    line-height: 48px;
    text-indent: 4px;
}
.button,
.button-small{
    display:inline-block;
    font-family:'Helvetica', Arial, sans-serif;
    width:auto;
    white-space:nowrap;
    height:32px;
    margin:5px 5px 0 0;
    padding:0 22px;
    text-decoration:none;
    text-align:center;
    font-weight:bold;
    font-style:normal;
    font-size:15px;
    line-height:32px;
    cursor:pointer;
    border:0;
    -moz-border-radius:4px;
    border-radius:4px;
    -webkit-border-radius:4px;
    vertical-align:top;
}
.button:link,.button:active,.button:visited,.button,.button span,.button-small:link,.button-small:active,.button-small:visited,.button-small{
    background-color:#408781;
    color:#ffffff;
}
.button:hover,.button-small:hover{
    background-color:#15575a;
    color:#ffffff;
}

#infomercial {
    width: 700px;
    margin: 0 auto;
    padding: 20px;
    background-color: #eaeaea;
}
footer {
    width: 92.5%;
    height: 25px;
    margin: 20px 0 20px 0;
    line-height: 25px;
    padding: 0 30px;
    color: #aeaeae;
}
footer #copy {
    float: left;
    line-height: 25px;
}
footer #bug {
    float: right;
    line-height: 25px;
}


