
.sectionWrap.cc_turquoise {background-color: #1ABC9C;}#revolution.cc_turquoise {color: #1ABC9C;}
.sectionWrap.cc_greensea {background-color: #16A085;}#revolution.cc_greensea {color: #16A085;}
.sectionWrap.cc_emeraland {background-color: #2ECC71;}#revolution.cc_emeraland {color: #2ECC71;}
.sectionWrap.cc_nephritis {background-color: #27AE60;}#revolution.cc_nephritis {color: #27AE60;}
.sectionWrap.cc_peterriver {background-color: #3498DB;}#revolution.cc_peterriver {color: #3498DB;}
.sectionWrap.cc_belizehole {background-color: #2980B9;}#revolution.cc_belizehole {color: #2980B9;}
.sectionWrap.cc_amethyst {background-color: #9B59B6;}#revolution.cc_amethyst {color: #9B59B6;}
.sectionWrap.cc_wisteria {background-color: #8E44AD;}#revolution.cc_wisteria {color: #8E44AD;}
.sectionWrap.cc_wetasphalt {background-color: #34495E;}#revolution.cc_wetasphalt {color: #34495E;}
.sectionWrap.cc_midnightblue {background-color: #2C3E50;}#revolution.cc_midnightblue {color: #2C3E50;}
.sectionWrap.cc_sunflower {background-color: #F1C40F;}#revolution.cc_sunflower {color: #F1C40F;}
.sectionWrap.cc_orange {background-color: #F39C12;}#revolution.cc_orange {color: #F39C12;}
.sectionWrap.cc_carrot {background-color: #E67E22;}#revolution.cc_carrot {color: #E67E22;}
.sectionWrap.cc_pumpkin {background-color: #D35400;}#revolution.cc_pumpkin {color: #D35400;}
.sectionWrap.cc_alizarin {background-color: #E74C3C;}#revolution.cc_alizarin {color: #E74C3C;}
.sectionWrap.cc_pomegranate {background-color: #C0392B;}#revolution.cc_pomegranate {color: #C0392B;}
.sectionWrap.cc_clouds {background-color: #ECF0F1;}#revolution.cc_clouds {color: #ECF0F1;}
.sectionWrap.cc_silver {background-color: #BDC3C7;}#revolution.cc_silver {color: #BDC3C7;}
.sectionWrap.cc_concrete {background-color: #95A5A6;}#revolution.cc_concrete {color: #95A5A6;}
.sectionWrap.cc_asbestos {background-color: #7F8C8D;}#revolution.cc_asbestos {color: #7F8C8D;}


/* Global block settings */
html {height: 100%;}
body {
    height: 100%;
    min-width: 768px;
    font-family: "OpenSans-Regular", helvetica, arial, sans-serif;
    font-size: 12px;
    line-height: 16px;
    color: #eaeaea;
}
/*|||||-----GLOBAL ELEMENTS-----\\\\\*/
a {display: block;text-decoration: none;color: #eaeaea;}
a:hover {}
button {margin: 0;padding: 0;border: none; font-size: 12px;}
.btn {background-repeat: no-repeat;background-size: 75%;background-position: 50% 50%;cursor: pointer;}

#globalWrap, .sectionWrap, .centerWrap {height: inherit;overflow: hidden;}
.centerWrap {position: relative;}

/*|||||-----OVERLAY-----\\\\\*/
#overlay {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    position: absolute;
    z-index: 9999;
    display: none;
    /*opacity: 0;*/
    /*visibility: hidden;*/
}
#overlayCanvas {
    width: 80%;
    height: 80%;
    background-color: #eaeaea;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 1);
    margin: 0 auto;
    position: relative;
    top: 10%;
    color: #4a4a4a !important;
    overflow: auto;
}
#ocHdr {
    height: 60px;
}
#ocHdr h1 {
    display: inline-block;
    width: 80%;
    height: 60px;
    font-size: 38px;
    line-height: 60px;
    padding-left: 10px;
    float: left;
    color: #9f9f9f;
}
#ocHdr button {
    display: block;
    float: right;
    width: 60px;
    height: 60px;
    text-align: center;
    background-image: url(../img/btnClose.png);
}
#ocHdr button:hover {background-image: url(../img/btnClose-hover.png);background-color: #dedede;}
#ocSec .pad {
    /*padding: 20px;*/
    padding: 0 20px; /* MH edit */
}
#ocSec .scroller {

}
.ideal-wrap {
    clear: left;
    margin: 0 20px;
}
#ocForm {
    width: 66%;
    float: left;
}
.formTabLeft {
    width: 49%;
    float: left;
    margin: 0 2% 0 0 !important;
}
.formTabRight {
    width: 49%;
    float: left;
}
#imageUpload {
    width: 100%;
    float: left;
}
#imageUpload #dropbox {
    width: inherit;
    height: 200px;
    background-color: #dddddd;
}
#ocFirstName, #ocCity, #ocState {
    float: left;
}



#hdr {
    width: 100%;
    height: 60px;
    background-color: #232323;
    position: absolute;
    top: 0;
    left: 0;
}
#settingsBtn {
    display: inline-block;
    float: left;
}
#settingsBtn button {
    width: 60px;
    height: 60px;
    background-image: url(../img/btnSettings.png);
    border-right: 1px solid #434343;
}

#logo h1 {
    float: left;
    line-height: 60px;
    font-family: 'klinic_slabmedium';
    font-size: 23px;
    margin: 0 15px 0 16px;
}

/*|||||-----LOGO DISPLAY:NONE; FOR SMALLER SCREENS -----\\\\\*/
@media only screen and (max-width : 941px) {
    #logo {
        display: none;
        /*float: left;*/
    }
}
@media only screen and (min-width : 942px) {
    #logo {
        float: left;   
    }
}

#postNew button {
    min-width: 120px;
    height: 60px;
    line-height: 60px;
    padding: 0 0 0 10px;
    color: #eaeaea;
    float: left;
    background-color: #1f7f5c;
    cursor: pointer;
}
#postNew button span {
    width: 60px;
    height: 60px;
    background-image: url(../img/btnPostNew.png);
    float: right;
}

#locationUtil {
    display: inline-block;
    float: right;
}
#quickSearch, #locationBtn, #rangeSelect {float: left;}

#quickSearch input {
    border-top: 5px solid #487b86;
    border-right: none;
    border-bottom: 5px solid #487b86;
    border-left: 5px solid #487b86;
    width: 200px;
    height: 40px;
    padding: 5px;
    float: left;
    border-radius: 0px;
}
#quickSearch a {
    width: 60px;
    height: 60px;
    display: inline-block;
    background-image: url(../img/btnSearch.png);
    background-color: #487b86;
}
#locationBtn button {
    width: 60px;
    height: 60px;
    float: left;
    background-image: url(../img/btnLocation.png);
}
#locationBtn button:hover {background-image: url(../img/btnLocation_hover.png);}
#locationBtn button.active {background-image: url(../img/btnLocation_on.png);}
#rangeSelect {display: none;}
#rangeSelect form {border-left: 1px solid #434343;width: 150px;padding: 0 10px;}



#sec, #ocSec {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    overflow: auto;
}
#sec {
    height: -webkit-calc(100% - 60px);
    height: -moz-calc(100% - 60px);
    height: -o-calc(100% - 60px);
    height: calc(100% - 60px);
    margin-top: 60px;
}
#ocSec {
    height: -webkit-calc(100% - 100px);
    height: -moz-calc(100% - 100px);
    height: -o-calc(100% - 100px);
    height: calc(100% - 100px);
    margin-top: 100px;
}

#scrollBox {
    width: 20%;
    min-width: 240px;
    height: 100%;
    background-color: #232323;
    float: left;
}
#scrollBox .contentWrap {
    border-top: 1px solid #434343;
}
#googleMap {
    height: 100%;
    background-color: #f4f3f0;
    float: left;
}

/*|||||-----SIZING #googleMap FOR LARGER SCREENS -----\\\\\*/
@media only screen and (max-width : 1199px) {
    #googleMap {
        min-width: -webkit-calc(100% - 240px);
        min-width: -moz-calc(100% - 240px);
        min-width: -o-calc(100% - 240px);
        min-width: calc(100% - 240px);
    }
}
@media only screen and (min-width : 1200px) {
    #googleMap {
        width: 80%;
    }
}

/*|||||-----SCROLL FILTER-----\\\\\*/
#scrollFilterWrap  {
    height: 60px;
    /*border-top: 1px solid #434343;*/
    /*border-bottom: 1px solid #434343;*/
}
#scrollFilter {
    display: block;
    width: 243px;
    margin: 0 auto;
}
#scrollFilter > li {
    width: 60px;
    float: left;
    text-align: center;
}
#scrollFilter > li:nth-child(1){background-color: #333;}
#scrollFilter > li:nth-child(2){background-color: #444;}
#scrollFilter > li:nth-child(3){background-color: #555;}
#scrollFilter > li:nth-child(4){background-color: #666;}
#scrollFilter > li a {
    width: 100%;
    line-height: 60px;
}
#scrollFilter > li a:hover {background-color: #232323;}
#scrollFilter > li:nth-child(1) a {background-image: url(../img/btnFilterGear.png);}
#scrollFilter > li:nth-child(2) a {background-image: url(../img/btnFilterLike.png);}
#scrollFilter > li:nth-child(3) a {background-image: url(../img/btnFilterLock.png);}
#scrollFilter > li:nth-child(4) a  {background-image: url(../img/btnFilterStar.png);}

/*|||||-----SCROLL LIST-----\\\\\*/
#scrollBox .scrollBar {
    height: -webkit-calc(100% - 62px);
    height: -moz-calc(100% - 62px);
    height: -o-calc(100% - 62px);
    height: calc(100% - 62px);
    overflow: auto;
}
#scrollBox #scrollList {

}


#scrollBox #scrollList > li {
    width: 100%;
    overflow: hidden;
    border-bottom: 1px solid #434343;
    background-color: #232323;
}

#scrollBox #scrollList > li:hover,
#scrollBox #scrollList > li.postOpen {background-color: #4a4a4a;}

.scrollListPost {display: block;}

.scrollListPost .scrollListHdr {padding: 0 10px 0 0;}
.scrollListPost .scrollListHdr h1 {
    width: 40px;
    height: 40px;
    background-image: url(../img/btnUser.png);
    background-color: #eaeaea;
    float: left;
    margin-right: 5px;
}
.scrollListPost .scrollListHdr p {line-height: 20px;margin-left: 45px;}

.scrollListPost .scrollListSec {padding: 0 10px;}
.scrollListPost .scrollListSec > div {margin: 10px 0;}

.scrollListPost .scrollListSlides  {height: 40px;margin: 0 auto !important}
.scrollListPost .scrollListSlides .scrollWrap {overflow: hidden;}
.scrollListPost .scrollListSlides ul {padding: 0 40px;}
.scrollListPost .scrollListSlides ul li {margin: 0 5px;}
.scrollListPost .scrollListSlides ul li img {width: 40px;height: 40px;}
.scrollListPost .scrollListSlides button {position: absolute;bottom: 0;width: 40px;height: 40px;background-color: transparent;color: #4a4a4a;}
.scrollListPost .scrollListSlides button.prev {left: -40px;z-index: 100;background-image: url(../img/btnScrollLeft.png);}
.scrollListPost .scrollListSlides button.next {right: -40px;z-index: 100;background-image: url(../img/btnScrollRight.png);}







#profileNav {
	height: 60px;
    float: right;
}
#profileNav .groundFloor {
	display: block;
	float: right;
	width: 60px;
	height: 60px;
}
#profileNav .groundFloor > li {position: relative;}

#profileNav #profileUser {
    width: 60px;
    height: 60px;
    background-image: url(../img/user-matthew-higley.jpg);
    background-position: 50% 50%;
    background-size: 100% !important;
}

#profileNav .firstLevel {
    width: 180px;
    height: auto;
    /*background: rgba(35, 35, 35, 0.8);*/
    background-color: #232323;
	position: absolute;
	bottom: -200%;
	right: 0;
    z-index: 50;
	opacity: 0;
	visibility: hidden;
}
#profileNav .firstLevel > li {
	width: 180px;
	height: auto;
}

#profileNav .groundFloor > li:hover .firstLevel {
	opacity: 1;
	visibility: visible;
}
#profileNav .firstLevel li a {
	line-height: 30px;
	padding: 5px 20px;
	text-align: right;
}
#profileNav .firstLevel li a:hover {background-color: #4a4a4a;}





#landing {height: auto;}
#landing #globalWrap, #landing .sectionWrap, #landing .centerWrap {height: inherit;overflow: visible;}


#landing .sectionWrap:first-child {width: 100%;}
#landing .sectionWrap:last-child {width: 100%;background-color: #ffffff;}
#landing .centerWrap {width: 800px;height: 400px;margin: 0 auto;}


#landing #lHdr h1 {font-size: 28px;line-height: 32px;font-family: 'klinic_slabmedium';}

#landing #lSec blockquote {
    position: absolute;
    top: 60px;
    left: 0;
    font-family: 'klinic_slablight_italic';
    font-size: 18px;
    line-height: 24px;
    width: 380px;
}

#landing #lSec h2 {position: absolute;bottom: -41px;}
#landing #lSec h2 #join {font-family: 'klinic_slabbold';font-size: 75px;line-height: 60px;}
#landing #lSec h2 #the {font-family: 'klinic_slabmedium';font-size: 45px;}
#landing #lSec h2 #yardsale {font-family: 'klinic_slabbold';font-size: 75px;line-height: 60px;}
#landing #lSec h2 #revolution {font-family: 'klinic_slabbold';font-size: 115px;text-transform: uppercase;line-height: 75px;font-weight: bold;}
#landing #lSec {position: relative;height: inherit;}


#billboard {height: auto;}
#billboard #globalWrap, #billboard .sectionWrap, #billboard .centerWrap {height: inherit;overflow: visible;}


#billboard .sectionWrap:first-child {width: 100%;}
#billboard .sectionWrap:last-child {width: 100%;background-color: #ffffff;}
#billboard .centerWrap {width: 800px;min-height: 400px;margin: 0 auto;}


#billboard #profileUser {
    width: 60px;
    height: 60px;
    background-image: url(../img/user-matthew-higley.jpg);
    background-position: 50% 50%;
    background-size: 100% !important;
    float: left;
    margin-right: 10px;
}
#billboard #lHdr h1 {font-size: 40px;line-height: 60px;font-family: 'OpenSans-Bold';}



#billboard #lSec {position: relative;height: inherit;overflow: hidden;padding-bottom: 25px;}
#billboard #lSec > div:first-child {
    width: 40%;
    float: left;
}
#billboard #lSec > div:last-child {
    width: 60%;
    float: left;
}
#billboard #lSec #ys_dates,
#billboard #lSec #ys_address,
#billboard #lSec #ys_info {
    margin-top: 25px;
}
#billboard #lSec #ys_dates li,
#billboard #lSec #ys_address li {
    font-family: 'OpenSans-Light';
    font-size: 20px;
    line-height: 24px;
}
#billboard #lSec #ys_dates li .ys_time {float: right;}
#billboard #lSec #ys_info p {
    font-size: 14px;
    margin-bottom: 10px;
}
#billboard #mapWrap {
    width: 90%;
    height: 350px;
    margin: 5%;
}

#billboard #contentSec {
    padding: 50px 0 75px;
}



#tryMe {
    width: 262px;
    height: 115px;
    background-image: url(../img/tryMe.png);
    display: inline-block;
    background-size: 60%;
    background-position: bottom right;
    position: absolute;
    left: 15%;
    display: none;
}
#mockImac, #mockMacpro, #mockIpad, #mockIphone {display: inline-block;position: absolute;left: 50%;bottom: 40px;}
.mockScreen {background-color: #2a2a2a;}

#mockImac {
    width: 419px;
    height: 341px;
    background-image: url(../img/mockImac_full.png);
    background-repeat: no-repeat;
    background-size: 200%;
    background-position: 1px 0;}
#mockImac:hover {
    background-position: -419px 0;}
#mockImac .mockScreen {width: 370px;height: 195px;margin: 24px 26px;}

/* Mock MacBook Pro / iPad / iPhone
#mockMacpro {width: 300px;height: 155px;background-image: url(../img/mockMacpro.png);background-repeat: no-repeat;background-size: 100%;margin-left: -53%;z-index: 110;display: none;}
#mockMacpro .mockScreen {width: 224px;height: 120px;margin: 10px 38px;}
#mockIpad {width: 170px;height: 111px;background-image: url(../img/mockIpadH.png);background-repeat: no-repeat;background-size: 100%;margin-left: -22%;z-index: 120;display: none;}
#mockIpad .mockScreen {width: 130px;height: 97px;margin: 6px 21px;}
#mockIphone {width: 110px;height: 56px;background-image: url(../img/mockIphoneH.png);background-repeat: no-repeat;background-size: 100%;margin-left: 40%;opacity: 0.5;z-index: 130;display: none;}
#mockIphone .mockScreen {width: 85px;height: 48px;margin: 4px 12px;}
#mockMacpro .mockScreen {background-image: url(../img/mockAppScreen.png);background-position: 0 0;background-repeat: no-repeat;background-size: 100%;}
#mockIpad .mockScreen, #mockIphone .mockScreen {background-image: url(../img/mockAppMobile.png);background-position: 0 0;background-repeat: no-repeat;background-size: 100%;}
*/

.miniBrowser {
    height: inherit;
    font-size: 80%;
    line-height: 7px;
    position: relative;
}
#miniOverlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
}
#miniOverlay #miniOC {
    width: 40%;
    height: 25%;
    margin: 15% auto;
    background-color: #eaeaea;
    padding: 10px 0;
    box-shadow: 0px 0px 1px 5px #000000;
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.5);
    position: relative;
}
#miniOC #miniOClose {
    width: 18px;
    height: 18px;
    display: inline-block;
    position: absolute;
    top: 0;
    right: 0;
    background-image: url(../img/btnClose.png);
    background-size: 100%;
}
#miniOC h1 {
    width: 100%;
    text-align: center;
    line-height: 14px;
    color: #4a4a4a;
}
#miniOC h1 span {
    font-family: 'OpenSans-Bold';
}
.miniHdr {
    width: 100%;
    height: 18px;
    background-color: #333333;
}
.miniHdr h1 {
    line-height: 18px;
    float: left;
    margin-right: 5px;
}
.miniList {
    height: inherit;
    font-size: 50%;
    width: 20%;
    float: left;
}

.miniMap {
    width: 80%;
    height: 177px;
    float: left;
    background-image: url(../img/mockMap.png);
    background-position: -56px -15px;
    background-repeat: no-repeat;
    background-size: 119%;
}
#map-canvas {
    width: 100%;
    height: inherit;
}

.miniHdr #miniBtn {
    width: 18px;
    height: 18px;
    float: left;
    background-image: url(../img/btnSettings.png);
    background-repeat: no-repeat;
    background-size: 80%;
    background-position: 50% 50%;
    border-right: 1px solid #4a4a4a;
    margin-right: 5px;
}
.miniHdr #miniPost {
    width: auto;
    height: 18px;
    float: left;
    background-image: url(../img/btnPostNew.png);
    background-repeat: no-repeat;
    background-size: 52%;
    background-position: right 50%;
    line-height: 18px;
    padding: 0 15px 0 5px;
    background-color: #1f7f5c;
    font-size: 80%;
    cursor: pointer;
}
.miniHdr img {
    width: 18px;
    height: 18px;
    float: right;
}
.miniHdr #miniGps {
    width: 18px;
    height: 18px;
    float: right;
    background-image: url(../img/btnLocation_on.png);
    background-repeat: no-repeat;
    background-size: 80%;
    background-position: 50% 50%;
}
.miniHdr #miniSearch {float: right;}

.miniHdr #miniSearch input {
    border-top: 2px solid #487b86;
    border-right: none;
    border-bottom: 2px solid #487b86;
    border-left: 2px solid #487b86;
    width: 60px;
    height: 12px;
    padding: 1px;
    float: left;
    border-radius: 0px;
    font-size: 80%;
}
.miniHdr #miniSearch a {
    width: 18px;
    height: 18px;
    display: inline-block;
    background-image: url(../img/btnSearch.png);
    background-color: #487b86;
}

#mockScroll { position:relative; margin:0px auto; padding:0px; width: 72px; height: 177px; overflow: hidden; }
#mockScroll #mockScrollContent { width: 72px; height: 174px; }

.miniList .btn {background-size: 100%;background-position: 50% 50%;}
.miniList > div > ul > li {width: 100%;overflow: hidden;border-bottom: 1px solid #434343;background-color: #333333;}
.miniList > div > ul > li:hover,
.miniList > div > ul > li.postOpen {background-color: #4a4a4a;}
.miniList .scrollListPost {display: block;}
.miniList .scrollListPost .scrollListHdr {padding: 0 10px 0 0;}
.miniList .scrollListPost .scrollListHdr h1 {width: 10px;height: 10px;background-image: url(../img/btnUser.png);background-color: #eaeaea;float: left;margin-right: 3px;}
.miniList .scrollListPost .scrollListHdr p {line-height: 7px;margin: 1px 0 0 13px;}
.miniList .scrollListPost .scrollListSec {padding: 0 5px;}
.miniList .scrollListPost .scrollListSec > div {margin: 10px 0;}
.miniList .scrollListPost .scrollListSlides  {height: 10px;margin: 0 auto !important}
.miniList .scrollListPost .scrollListSlides .scrollWrap {overflow: hidden;}
.miniList .scrollListPost .scrollListSlides ul {padding: 0 10px;}
.miniList .scrollListPost .scrollListSlides ul li {margin: 0 2px;}
.miniList .scrollListPost .scrollListSlides ul li img {width: 10px;height: 10px;}
.miniList .scrollListPost .scrollListSlides button {position: absolute;bottom: 0;width: 10px;height: 10px;background-color: transparent;color: #4a4a4a;}
.miniList .scrollListPost .scrollListSlides button.prev {left: -10px;z-index: 100;background-image: url(../img/btnScrollLeft.png);}
.miniList .scrollListPost .scrollListSlides button.next {right: -10px;z-index: 100;background-image: url(../img/btnScrollRight.png);}

#contentSec {
    padding: 150px 0 75px;
}
#formInfo {color: #666;font-size: 24px;text-align: center;font-family: 'klinic_slabmedium';}
form {
    /*width: 92%;
    margin: 20px auto;*/
    width: 100%; /* MH edit */
    margin: 0 auto; /* MH edit */
    padding: 20px 0 0 0;
    
}
form #email {
    width: 99%;
    height: 35px;
    background-color: #eaeaea;
    border-radius: 4px;
    border-width: 1px;
    border-style: solid;
    border-top-color: #aeaeae;
    border-right-color: #cfcfcf;
    border-bottom-color: #dedede;
    border-left-color: #aeaeae;
    padding: 5px;
    font-size: 18px;
    color: #666666;
}
form #email:hover {
    box-shadow: 0 0 8px 2px rgba(0, 0, 0, 0.3);
}
form #emailLabel {
    font-size: 18px;
    color: #aeaeae;
    line-height: 48px;
    text-indent: 4px;

   

}
.button,
.button-small{
    display:inline-block;
    font-family:'Helvetica', Arial, sans-serif;
    width:auto;
    white-space:nowrap;
    height:32px;
    margin:5px 5px 0 0;
    padding:0 22px;
    text-decoration:none;
    text-align:center;
    font-weight:bold;
    font-style:normal;
    font-size:15px;
    line-height:32px;
    cursor:pointer;
    border:0;
    -moz-border-radius:4px;
    border-radius:4px;
    -webkit-border-radius:4px;
    vertical-align:top;
}
.button:link,.button:active,.button:visited,.button,.button span,.button-small:link,.button-small:active,.button-small:visited,.button-small{
    background-color:#1abc9c;
    color:#ffffff;
}
.button:hover,.button-small:hover{
    background-color:#16a085;
    color:#ffffff;
}

#infomercial {
    width: 700px;
    margin: 0 auto;
    padding: 20px;
    background-color: #eaeaea;
}
footer {
    width: 92.5%;
    height: 25px;
    margin: 20px 0 20px 0;
    line-height: 25px;
    padding: 0 30px;
    color: #aeaeae;
}
footer #copy {
    float: left;
    line-height: 25px;
}
footer #bug {
    float: right;
    line-height: 25px;
}


